@charset "UTF-8";


.container {
    padding: 32px 7px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.pNoCategories {
    text-align: center;
}

.totalGoals {
    padding-top: 16px;

    text-align: center;

    font-size: 1.1em;
    font-weight: bolder;
}
