@charset "UTF-8";


.overlay {
    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: all;
}

.foundedsWindow {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.28);
    background-color: white;
    border-radius: 8px;

    padding: 24px;
    height: 1000px;
    min-width: 420px;

    animation: fromLeft .25s ease-in-out;
}

.windowHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.windowHeader button {
    background-color: rgb(248, 248, 248);
    border-radius: 50%;
    border: none;

    padding: 12px 14px;

    transition: all .2s;
    cursor: pointer;
}

.windowHeader button:hover {
    background-color: rgb(234, 234, 234);
}

.windowBody {
    padding: 32px 12px;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 6px;

    overflow-y: auto;
}

.categoryItem {
    border-radius: 8px;

    width: 100%;
}

.windowBody .categoryItem {
    background-color: rgb(234, 234, 234);

    padding: 12px;

    font-size: 1.2em;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.windowBody .categoryItem button {
    border-radius: 12px;
    border: none;

    color: white;
    font-size: 1.2em;

    padding: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .3s;
    cursor: pointer;
}

.buttonRemove {
    background-color: rgb(36, 36, 36);
}

.buttonRemove:hover {
    background-color: red;
}

.buttonEdit {
    background-color: #248;
}

.buttonEdit:hover {
    background-color: rgb(43, 89, 182);
}

.controls {
    display: flex;
    gap: 6px;
}

@keyframes fromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
